.navbar{
position: fixed;
margin-left: 180px;
background: #0404048e;
height: 85px;
}

:global(.mr-auto){
    width: fit-content;
    white-space: nowrap;
}

@media(max-width:580px){
    .navbar{
        min-width: 250px;
        background: #0404048e;
    }

    :global(.mr-auto){
        display: none;
    }
    :global(.largenavbar){
        display: none;
    }
    :global(.smallmenu){
        margin-right: 30px;
    }
}

@media(min-width:580px){
    :global(.smallmenu){
        display: none;
    }

}