
.queueifyLogo {
	width: 150px;
	margin-top: 10px;
}

:global(.sidebar) {
	width: 180px;
	height: 100%;
	background: #040404;
	padding: 10px;
	min-height: 100vh;
	position: fixed;
}
:global(.sidebar-nav) {
	margin-top: 30px;
	padding: 0;
}

:global(.sidebar-nav a) {
	color: #b3b3b3;
	border-radius: 5px;
	padding: 1rem;
}
:global(.nav-link.active) {
	background-color: #282828 !important;
}

@media(max-width: 580px){
:global(.sidebar-nav) {
	 display: none;
 }
:global(.sidebar){
	min-height: 0vh;
	height: 85px;
	background: #0404048e;
}

:global(.sidebar-dropdown){
	color: #b3b3b3;
	border-radius: 5px;
 }
}
