

.searchJumbo {
	display: flex;
	flex-direction: row;
	background:  #040404;
	
	padding:20px;
	padding-left: 175px;
	width: 100%;
	height: 100%;
	min-width: 410px;
	min-height: 500px;

}

.searchMenu {
	display: flex;
	flex-direction: row;
	padding-top: 90px;
	padding-left: 240px;
	background: #040404;
}

.result{
	padding: 20px;
	padding-left: 200px;
	background: #040404;

}

@media(max-width: 580px){
	.searchJumbo{
		padding-left: 20px;
	}
	.searchMenu{
		padding-left: 20px;
	}

}