/* .container {
	display: flex;
	flex-direction: column;
} */

.sidebar {
	width: 250px;
	height: 100%;
	background: #040404;
	padding: 10px;
	min-height: 100vh;
}

.sidebar-nav {
	margin-top: 30px;
	padding: 0;
}

.sidebar-nav a {
	color: #b3b3b3;
	border-radius: 5px;
	padding: 1rem;
}
.nav-link.active {
	background-color: #282828 !important;
}

/* .navbar {
	padding: 0;
	display: flex;
	flex-direction: column;
} */

.queueify-logo {
	height: 11vmin;
	pointer-events: none;
	text-align: center;
}

/*Global button CSS*/
.btn-success {
	border-radius: 60px / 60px;
	background-color: #1db954;
	border-color: #1db954;
	padding: 14px 56px 16px;
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
}
.btn-outline-success:hover {
	border-color: #1ed760;
}

.btn-outline-success {
	border-radius: 60px / 60px;
}
