<<<<<<< HEAD
/* .container {
	display: flex;
	flex-direction: column;
} */

.sidebar {
	width: 250px;
	height: 100%;
	background: #040404;
	padding: 10px;
	min-height: 100vh;
}

.sidebar-nav {
	margin-top: 30px;
	padding: 0;
=======
/* Starting CSS */
.sidebarCol {
	padding-right: 0;
>>>>>>> decc9865f1a8262a4b171ef0a6f46dfdd23f9fd0
}
.pageCol {
	margin-top: 54px;
	padding-left: 0;
}

/*Global button CSS*/
.btn-success {
	border-radius: 60px / 60px;
	background-color: #1db954;
	border-color: #1db954;
	padding: 14px 56px 16px;
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
}
.btn-outline-success:hover {
	border-color: #1ed760;
}

.btn-outline-success {
	border-radius: 60px / 60px;
}
